:root {
    /* Padding and margin */
    --spacing_xxs: .25rem;
    --spacing_xs: .5rem;
    --spacing_s: .75rem;
    --spacing_m: 1rem;
    --spacing_l: 1.25rem;
    --spacing_xl: 1.5rem;
    --spacing_xxl: 1.75rem;

    /* Text sizes */
    --size-s: 0.8rem;
    --size-m: 1rem;
    --size-l: 1.2rem;
    --size-xl: 1.4rem;
    --size-xxl: 1.6rem;

    /* Colors */
    --white: #ffffff;
    --black: black;
    --lightgray: #F6F6F6;
    --darkgray: #414141;
    --blue: #06deed;
    --darkerblue: #1094b2;
}