.button {
    cursor: pointer;
    padding: 14px 24px;
    background-color: var(--blue);
    border: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color .2s;
    color:black;
}
.button:hover {
    background-color: #05bfcd;
}
/*
.button:focus {
    box-shadow: 0px 0px 0px 3px #B3E5FF;
} */
.button:active {
    background-color: #05c0cd7c;
}
