@import "../../configs/constants.css";

.input {
    padding: 14px 12px;
    border-radius: 6px;
    border: 1px solid #8C969F;
    outline: none;
    transition: .25s;
    box-sizing: border-box;
}
.input:focus {
    box-shadow: 0px 0px 0px 3px #B3E5FF;
}