@import "../../configs/constants.css";

/* Main */
.container {
  display: grid;
  grid-template:
    "search search"
    "filter result";
  grid-template-columns: 300px minmax(0, 1fr);
  grid-template-rows: auto auto;
  gap: 3rem; 
  margin:0 4rem;
}
.search_container {
  grid-area: search;
  box-shadow: 0px 0px 15px 0px #050E1D33;
  border-radius: 5px;
}
.filter_container {
  grid-area: filter;
}
.result_container {
  grid-area: result;
}

/* Mobile Support */
@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }
}
