@import "../../configs/constants.css";

header {
    margin: 1rem 4rem;
}
a {
    display: inline-block;
}
.logo {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}
.logo > img {
    height: 2rem;
    margin-right: var(--spacing_xs);
}
.label {
    font-weight: bold;
}

/* Mobile Support */
@media only screen and (max-width: 900px) {
    header {
      margin: 1rem;
    }
  }
  
