@import "../../configs/constants.css";
.container {
    width: 100%;
    background-image: url("../../../public/images/jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 400px;
}
.jumbotron {
    background-color: rgba(0,0,0,50%);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

}
.title {
    color: var(--white);
    padding-left: 2rem;
    border-left: 5px solid var(--white);
}

/* Mobile Support */
@media only screen and (max-width: 900px) {
    .container {
        height: 200px;
    }
    .title {
        padding-left: 1rem;
        border-left: 3px solid var(--white);
    }
}