@import "../../configs/constants.css";

.container {
    background-color: #F6F6F6;
    margin-bottom: 25px;
    display: flex;
}
.container > div {
    min-width: 0px;
    display: flex;
    flex-direction: column;
}
.metadata {
    margin: 1em 0;
    gap: .5em;
}
.icons {
    display: flex;
    flex-grow:1;
    gap: 2em;
}
.icons > div {
    display: flex;
    align-self: flex-end;
    gap: .5em;
}
.preview {
    flex: 0 0 125px;
    margin-right: var(--spacing_m);
    height: 150px;
    background-color: rgb(35, 35, 35);
}
.preview > img {
    height: 100%;
    object-fit: contain;
}

.name {
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description {
    color: #808080;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link {
    text-decoration: underline;
    color: #009EA8;
}