@import "../../configs/constants.css";

.container {
    margin: 1rem 2rem;
}
.searchbar_label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.searchbar {
    display: flex;
    gap: 10px;
}

/* Mobile Support */
@media only screen and (max-width: 900px) {
   .container {
        margin: .5 1rem;
    }
    .searchbar {
        flex-direction: column;
    }
}
  