@import "./configs/constants.css";

body {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  margin: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  margin: 1rem 0
}
h4 {
  font-size: 1rem;
  margin: .5rem 0;
}

/* Mobile Support */
@media only screen and (max-width: 900px) {
  h1 {
      font-size:1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

