@import "../../configs/constants.css";

.records_total {
    font-weight: bold;
    margin-bottom: 1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing_m);
}